# dependencies
/node_modules

# next build
/.next/
/out/

# production
/build

# env files
.env*
!.env.example
.env.example

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
next-dev.*
ngrok*
tsconfig.tsbuildinfo

# OS
.DS_Store
Thumbs.db

#Readme
SETUP_EMAIL.md

/.claude/
.claude/